.env
.hypothesis

*.js
!webpack.config.js
!py-worker.js
!pyodide-worker.js
*.d.ts
!global.d.ts
node_modules
.vscode
!.eslintrc.js

__pycache__
dist
.DS_Store

.pytest_cache
.coverage

package-lock.json